/* Single conseil*/
.single-page-conseils {
    position: absolute;
    top: 0;
    background-color: rgba(243, 243, 243, 0.4);
    margin: 0 auto;
    width: 100%;
    left: 0;
    z-index: 999;
}
.single-conseils{
    padding: 0 0 60px !important;
    height: 100%;
}
.single-conseils article{
    background: #fff;
    position: relative;
    z-index: 9998;
}
.single-conseils .post-image{
    border-bottom-right-radius: 50px;
    box-shadow: 0px -11px 13px -7px inset #333;
}
@media screen and (min-width:800px){
    .single-conseils .post-image{
        height: 50vh;
    }

}
.single-conseils .post-title{
    width: 200px;
    margin: 0 auto;
    color: white;
    background: linear-gradient(90deg, rgb(166 34 76) 0%, rgb(172 26 73) 37%, rgb(204 81 122) 100%);
    border-radius: 5px;
}

.single-conseils .nav-bg.nav-bg-active {
    background: linear-gradient(90deg, rgb(166 34 76) 0%, rgb(172 26 73) 37%, rgb(204 81 122) 100%);
    color: #fff;
}

.single-conseils .post-title h1{
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
}

.single-conseils .post-content{
    box-shadow: none;
    position:relative;
}

.single-conseils .cls-1 {
    fill: #ccc;
}

.single-conseils span.markit {
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: -23px;
    right: 30px;
    background: linear-gradient(90deg, rgba(216,50,104,0.7) 0%, rgba(227,67,119,0.6) 37%, rgba(213,100,137,0.7) 100%);
    padding: 10px;
    border-radius: 5px 15px;
}